<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">


<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}">
<title>Quest submissions page</title>
</head>

<body>

	<div class="container border border-black bg-success"
		style="margin-top: 5%;">

		<h3 class="font-weight-bold text-light">Quest submissions</h3>
		<hr>


		<!-- table to display quest submissions-->
		<table class="table table-bordered table-striped">
			<thead class="thead-light">
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Answer</th>
					<th>Tokens</th>
					<th>Badge name</th>
					<th>Badge description</th>
					<th>Badge picture</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="quest, iterStat : ${quests}">

					<td class="font-weight-bold text-light" th:text="${quest.name}" />
					<td class="font-weight-bold text-light"
						th:text="${quest.description}" />
					<td class="font-weight-bold text-light" th:text="${quest.answer}" />
					<td class="font-weight-bold text-light" th:text="${quest.tokens}" />
					<td class="font-weight-bold text-light"
						th:text="${badges[iterStat.index] eq null} ? 'N/A' : ${badges[iterStat.index].name}" />
					<td class="font-weight-bold text-light"
						th:text="${badges[iterStat.index] eq null} ? 'N/A' : ${badges[iterStat.index].description}" />
					<td th:if="${badges[iterStat.index]} == null"
						class="font-weight-bold text-light" th:text="'N/A'" />
					<td th:if="${badges[iterStat.index]} != null"><img
						class="border border-black" width="40" height="40"
						th:src="@{'/badge-photos/' + ${badges[iterStat.index].picture}}" />
					</td>
					<td><a th:href="@{/admin/acceptQuest(questId=${quest.id})}"
						class="btn btn-primary btn-sm"
						onclick="if (!(confirm('Are you sure you want to accept this quest submission?'))) return false">
							Accept </a> <a th:href="@{/admin/rejectQuest(questId=${quest.id})}"
						class="btn btn-danger btn-sm"
						onclick="if (!(confirm('Are you sure you want to reject this quest submission?'))) return false">
							Reject </a></td>
					</td>


				</tr>
			</tbody>
		</table>
		<hr>
		<a class="font-weight-bold text-light" th:href="@{/menu}">Back to
			menu</a>

	</div>

</body>
</html>



