<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">


<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}">
<title>Quests</title>
</head>

<body>

	<div class="container border border-black bg-success"
		style="margin-top: 5%;">

		<h3 class ="font-weight-bold text-light">Quests</h3>
		<hr>
		<a th:href="@{/quest/addQuestForm}"
			class="btn btn-primary btn-sm mr-5 mb-3"> Add quest </a>
		<a th:href="@{/quest/userSubmissions}"
			class="btn btn-primary btn-sm mr-5 mb-3"> My submissions </a>
		<a th:href="@{/quest/userQuests}"
			class="btn btn-primary btn-sm mr-5 mb-3"> My quests </a>



		<table class="table table-bordered table-striped">
			<thead class="thead-light">
				<tr>
					<th>Name</th>
					<th>Status</th>
				<th sec:authorize="hasRole('ROLE_ADMIN')">
					Action
				</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="quest, iterStat: ${quests}">

					<td>
					<a class ="font-weight-bold text-light" th:href="@{/quest/questDetails(questId=${quest.id})}" th:text="${quest.name}"></a>
					
					</td>
					
					<td th:switch="${status[iterStat.index]}">
					 	<p class ="font-weight-bold text-light" th:case="3">Not submitted</p>
					 	<p class ="font-weight-bold text-light" th:case="0">Submitted</p>
					 	<p style ="color:blue;" th:case="1">Accepted</p>
						<p style ="color:red;" th:case="2">Rejected</p>
					
					</td>

					<td sec:authorize="hasRole('ROLE_ADMIN')">
					 	<a th:href="@{/admin/deleteQuest(questId=${quest.id})}"
						class="btn btn-danger btn-sm"
						onclick="if (!(confirm('Are you sure you want to delete this quest?'))) return false">
							Delete </a>
					</td>
					

				</tr>
			</tbody>
		</table>
		<hr>
		<a class ="font-weight-bold text-light" th:href="@{/menu}">Back to menu</a>

	</div>

</body>
</html>



