<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">


<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}">
<title>Submissions page</title>
</head>

<body>

	<div class="container border border-black bg-success"
		style="margin-top: 5%;">

		<h3 class="font-weight-bold text-light">Submissions</h3>
		<hr>


		<p class="font-weight-bold text-light"
			th:text="'Answer: ' + ${quest.answer}"></p>


		<!-- table to display submissions-->
		<table class="table table-bordered table-striped">
			<thead class="thead-light">
				<tr>
					<th>No.</th>
					<th>Answer</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="submission, iterStat : ${submissions}">

					<td class="font-weight-bold text-light" th:text="${iterStat.index}" />
					<td class="font-weight-bold text-light"
						th:text="${submission.answer}" />

					<td><a
						th:href="@{/quest/acceptSubmission(submissionId=${submission.id})}"
						class="btn btn-primary btn-sm"
						onclick="if (!(confirm('Are you sure you want to accept this submission?'))) return false">
							Accept </a> <a
						th:href="@{/quest/rejectSubmission(submissionId=${submission.id})}"
						class="btn btn-danger btn-sm"
						onclick="if (!(confirm('Are you sure you want to reject this submission?'))) return false">
							Reject </a></td>



				</tr>
			</tbody>
		</table>
		<hr>
		<a class="font-weight-bold text-light"
			th:href="@{'/quest/userQuests'}">Back to
			quests</a>

	</div>

</body>
</html>



