<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">


<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}">
<title>My quests</title>
</head>

<body>

	<div class="container border border-black bg-success"
		style="margin-top: 5%;">

		<h3 class="font-weight-bold text-light">Quests</h3>
		<hr>




		<table class="table table-bordered table-striped">
			<thead class="thead-light">
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Answer</th>
					<th>Tokens</th>
					<th>Badge name</th>
					<th>Badge description</th>
					<th>Badge picture</th>
					<th sec:authorize="hasRole('ROLE_ADMIN')">Action</th>

				</tr>
			</thead>

			<tbody>
				<tr th:each="quest, iterStat : ${quests.content}">
					<td th:if="${submissions.content[iterStat.index]} == 0"><a
						class="font-weight-bold text-light"
						th:href="@{/quest/listSubmissions(questId=${quest.id})}"
						th:text="${quest.name}"></a></td>
					<td th:if="${submissions.content[iterStat.index]} == 1"><a
						class="font-weight-bold text-danger"
						th:href="@{/quest/listSubmissions(questId=${quest.id})}"
						th:text="${quest.name}"></a></td>
					<td class="font-weight-bold text-light"
						th:text="${quest.description}" />
					<td class="font-weight-bold text-light" th:text="${quest.answer}" />
					<td class="font-weight-bold text-light" th:text="${quest.tokens}" />
					<td class="font-weight-bold text-light"
						th:text="${badges.content[iterStat.index] eq null} ? 'N/A' : ${badges.content[iterStat.index].name}" />
					<td class="font-weight-bold text-light"
						th:text="${badges.content[iterStat.index] eq null} ? 'N/A' : ${badges.content[iterStat.index].description}" />
					<td th:if="${badges.content[iterStat.index]} == null"
						class="font-weight-bold text-light" th:text="'N/A'" />
					<td th:if="${badges.content[iterStat.index]} != null"><img
						class="border border-black" width="40" height="40"
						th:src="@{'/badge-photos/' + ${badges.content[iterStat.index].picture}}" />
					</td>
					<!--delete button for admins-->
					<td sec:authorize="hasRole('ROLE_ADMIN')"><a
						th:href="@{/admin/deleteMyQuest(questId=${quest.id})}"
						class="btn btn-danger btn-sm"
						onclick="if (!(confirm('Are you sure you want to delete this quest?'))) return false">
							Delete </a></td>
				</tr>
			</tbody>
		</table>
		<!--page navigation-->
		<div>
			<a th:if="${quests.totalPages > 1 and quests.number > 0}"
				style="color: white;" th:href="@{/quest/userQuests(page = 1)}"
				th:text="'First'"> </a> <a
				th:if="${quests.totalPages > 1 and quests.number > 0}"
				style="color: white;"
				th:href="@{/quest/userQuests(page=${quests.number})}"
				th:text="'Previous'"> </a>

			<div th:if="${quests.totalPages > 0}" class="pagination"
				style="display: inline-block;" th:each="pageNumber : ${pageNumbers}">
				<a style="color: white;"
					th:href="@{/quest/userQuests(page=${pageNumber})}"
					th:text="${pageNumber}"
					th:class="${pageNumber==quests.number + 1} ? active"></a>
			</div>
			<a
				th:if="${quests.totalPages > 1 and (quests.number + 1) < quests.totalPages}"
				style="color: white;"
				th:href="@{/quest/userQuests(page=${quests.number + 2})}"
				th:text="'Next'"> </a> <a
				th:if="${quests.totalPages > 1 and (quests.number + 1) < quests.totalPages}"
				style="color: white;"
				th:href="@{/quest/userQuests(page=${quests.totalPages})}"
				th:text="'Last'"> </a>

		</div>
		<hr>
		<a class="font-weight-bold text-light" th:href="@{/quest/listQuests}">Back
			to quests</a>

	</div>

</body>
</html>



